{% block about_us %}
<!-----------------------about us-------------------------------------->


  
    <div class="row" >
      <div class="col-5" >
        <img src="./images/image/Bikaneri Medium crack 0519.JPG" height="500px;" style="position: relative;">
      </div>
      <div class="col-7" style="background-color:#eeedee">
        <b><h3 class="about-chead"> About <br><span>Vardhaman</span> <br> Spices</h3></b>

        <p class = "about-content"> 
            I picked up a proposal that came from a relative,” she reminisces, “and from thereon, I learnt the technique of turning black peppercorns into white.With an independent loan of Rs 3Lakhs, she learnt the ropes of business quickly, and what started as a one-machine factory, today, we have nearly 13 machines for different processes</p>

            <a href="#" class="btn">Read More</a>
      </div>

    </div>
  
 




{% endblock %}