
{% load static %}

{% block Navbar %}



<!-- header section starts  -->

<header class="header">
    <a href="#" class="logo"> <img src = "{% static 'images/1.png' %}" alt="" height="100px;" width="180px;"> </a>

    <!-- <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i> groco </a> -->

    <nav class="navbar">
        <a href="#products">products</a>
        <a href="#categories">Services</a>
        <a href="#review">How To Order</a>
        <a href="#blogs">About us</a>
        <a href="#blogs">Contact Us</a>
    </nav>

    <div class="icons">

        <div class="fas fa-user" id="login-btn"></div>
    </div>

    
</header>






{% endblock %}