{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/VardhamanStaticApp/style.css' %}">

</head>

<body>


    {% block Navbar %}


    <!-- {% include 'VardhamanStaticApp/contact_bubble.html' %} -->
    <link rel="stylesheet" href="css/main.css">

    <nav>
        <input id="nav-toggle" type="checkbox">
        <!-- <div class="logo"><img src="./images/vardhaman.png"></div> -->
        <a class="logo" href="./index.html">
            <img src="./images/vardhaman.png" alt="..." class="imglogo">
        </a>
        <ul class="links">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./aboutus.html">About</a></li>
            <li><a href="./productlist.html">Our Products</a></li>
            <li><a href="#">Our Achievments</a></li>
            <li><a href="./contactus.html">Contact Us</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>



    {% endblock %}
</body>

</html>